################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpecWheels/.vs/SpecWheels/v15
/SpecWheels/SpecWheels/App_Data/SpecWheels_log.ldf
/SpecWheels/SpecWheels/App_Data/SpecWheels.mdf
/SpecWheels/SpecWheels/App_Data/aspnet-SpecWheels-20180801084045_log.ldf
/SpecWheels/SpecWheels/App_Data/aspnet-SpecWheels-20180801084045.mdf
/SpecWheels/SpecWheels/bin
/SpecWheels/.vs
/SpecWheels/SpecWheels/DesignTimeBuild
/SpecWheels/SpecWheels/Web.config
/SpecWheels/packages
/SpecWheels/SpecWheels.Test/bin/Debug
/SpecWheels/SpecWheels/App_Data/SpecWheelsConnection.mdf
/SpecWheels/SpecWheels/App_Data/SpecWheelsConnection_log.ldf
/SpecWheels/SpecWheels.Test/obj/Debug
/SpecWheels/SpecWheels/obj/Debug
/SpecWheels/SpecWheels/.vs
