<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpecWheels</title>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen, projection">
    <script type="text/javascript" src="~/scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/site.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header class="header">

        <!-- Group A links -> Left side -->
        <div class="header_menu_left">
            <nav class="header_menu_navbar">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Todo</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>

        <!-- Logo in the middle -->
        <div class="header_logo">
            <img src="~/images/logo.png" />
            <p>SpecWheels</p>
        </div>
        
        <!-- Group B links -> Right side -->
        <div class="header_menu_right">
            <nav class="header_menu_navbar">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Todo</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Todo</a></li>
                    <li><a asp-controller="User" asp-action="Register">Register</a></li>
                    <li><a asp-controller="User" asp-action="Login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="main_section">
        @RenderBody()
    </section>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - SpecWheels</p>
    </footer>
</body>
</html>
